SmartVideo 2.0/SmartVideo/SmartSynchro/Service References/ServiceReference/ServiceSmart1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilmDTO" nillable="true" type="tns:FilmDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilmDTO" nillable="true" type="tns:ArrayOfFilmDTO" />
  <xs:complexType name="FilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="actors" nillable="true" type="tns:ArrayOfActorDTO" />
      <xs:element minOccurs="0" name="available" type="xs:boolean" />
      <xs:element minOccurs="0" name="genres" nillable="true" type="tns:ArrayOfGenreDTO" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="original_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="poster_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="realisateurs" nillable="true" type="tns:ArrayOfRealisateurDTO" />
      <xs:element minOccurs="0" name="runtime" type="xs:int" />
      <xs:element minOccurs="0" name="titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmDTO" nillable="true" type="tns:FilmDTO" />
  <xs:complexType name="ArrayOfActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActorDTO" nillable="true" type="tns:ActorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActorDTO" nillable="true" type="tns:ArrayOfActorDTO" />
  <xs:complexType name="ActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="character" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActorDTO" nillable="true" type="tns:ActorDTO" />
  <xs:complexType name="ArrayOfGenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDTO" nillable="true" type="tns:GenreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDTO" nillable="true" type="tns:ArrayOfGenreDTO" />
  <xs:complexType name="GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDTO" nillable="true" type="tns:GenreDTO" />
  <xs:complexType name="ArrayOfRealisateurDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RealisateurDTO" nillable="true" type="tns:RealisateurDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRealisateurDTO" nillable="true" type="tns:ArrayOfRealisateurDTO" />
  <xs:complexType name="RealisateurDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RealisateurDTO" nillable="true" type="tns:RealisateurDTO" />
</xs:schema>