SmartVideo 2.0/SmartVideo/SmartSynchro/Service References/ServiceReference/ServiceSmart.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSmart" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60863/ServiceSmart.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60863/ServiceSmart.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60863/ServiceSmart.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCFSmart_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetAllFilmsDBFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilmsDBFilm" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetAllFilmsDBFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilmsDBFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetFilmsPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsPage" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetFilmsPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsPageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_ReserveFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:ReserveFilm" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_ReserveFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReserveFilmResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetFilmInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_GetFilmInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_RetourFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:RetourFilm" />
  </wsdl:message>
  <wsdl:message name="IServiceWCFSmart_RetourFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetourFilmResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCFSmart">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetData" message="tns:IServiceWCFSmart_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetDataResponse" message="tns:IServiceWCFSmart_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFilmsDBFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetAllFilmsDBFilm" message="tns:IServiceWCFSmart_GetAllFilmsDBFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetAllFilmsDBFilmResponse" message="tns:IServiceWCFSmart_GetAllFilmsDBFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmsPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetFilmsPage" message="tns:IServiceWCFSmart_GetFilmsPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetFilmsPageResponse" message="tns:IServiceWCFSmart_GetFilmsPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReserveFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/ReserveFilm" message="tns:IServiceWCFSmart_ReserveFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/ReserveFilmResponse" message="tns:IServiceWCFSmart_ReserveFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetFilmInfo" message="tns:IServiceWCFSmart_GetFilmInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/GetFilmInfoResponse" message="tns:IServiceWCFSmart_GetFilmInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetourFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCFSmart/RetourFilm" message="tns:IServiceWCFSmart_RetourFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCFSmart/RetourFilmResponse" message="tns:IServiceWCFSmart_RetourFilm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWCFSmart" type="tns:IServiceWCFSmart">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilmsDBFilm">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/GetAllFilmsDBFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmsPage">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/GetFilmsPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReserveFilm">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/ReserveFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/GetFilmInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetourFilm">
      <soap:operation soapAction="http://tempuri.org/IServiceWCFSmart/RetourFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSmart">
    <wsdl:port name="BasicHttpBinding_IServiceWCFSmart" binding="tns:BasicHttpBinding_IServiceWCFSmart">
      <soap:address location="http://localhost:60863/ServiceSmart.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>